<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound
    title!
  </span>
</div>

<br>
<p>This is toogle</p>

<div id="vue-if">
  <div v-if="seen">Now you see me</div>
  <button v-on:click="toggleText">Toggle</button>
</div>

<div id="vue-for">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<br>
<h3>This is for reserve message</h3>

<div id="vue-click">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="vue-input">
  <p>{{ message }}</p>
  <input v-model="message" />
</div>


<div id="app">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<ul id="example-list">
  <li v-for="item in items">
    {{ item.message }}
  </li>
</ul>

<div id="method-handler">
  <button v-on:click="greet">Greet</button>
</div>

<div id="inline-statement-handler">
  <button v-on:click="say('hi')">Say Hi</button>
  <button v-on:click="say('what')">Say What</button>
</div>

<script>
  var app2 = new Vue({
    el: "#app-2",
    data: {
      message: "You loaded this page on " + new Date().toLocaleString()
    }
  });
  var app3 = new Vue({
    el: "#vue-if",
    data: {
      seen: true
    },
    methods: {
      toggleText: function () {
        this.seen = !this.seen;
      }
    }
  });
  var app4 = new Vue({
    el: "#vue-for",
    data: {
      todos: [{ text: "Text 1" }, { text: "Text 2" }, { text: "Text 3" }]
    }
  });
  var app5 = new Vue({
    el: "#vue-click",
    data: {
      message: "Hello World!"
    },
    methods: {
      reverseMessage: function () {
        this.message = this.message
          .split("")
          .reverse()
          .join("");
      }
    }
  });
  var app6 = new Vue({
    el: "#vue-input",
    data: {
      message: "Hello World!"
    }
  });

  new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue.js!'
    },
    el: '#example-list',
    data: {
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ]
    }
  })

  new Vue({
    el: '#method-handler',
    data: {
      name: 'Vue.js'
    },
    // define methods under the `methods` object
    methods: {
      greet: function (event) {
        // `this` inside methods point to the Vue instance
        alert('Hello ' + this.name + '!')
        // `event` is the native DOM event
        alert(event.target.tagName)
      }
    }
  })

  new Vue({
    el: '#inline-statement-handler',
    methods: {
      say: function (msg) {
        alert(msg)
      }
    }
  })
</script>